# =========================
# C# / .NET / Blazor
# =========================
[Bb]in/
[Oo]bj/
*.user
*.slnx.user

# =========================
# Environment & Secrets
# =========================
appsettings.Development.json
.DS_Store
.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json